h2{
    font-size: 20px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.navbar img{
    width: 80px;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar li{
    list-style: none;
    margin:0 20px;
    padding : 10px;
}

/* Shimmer */
.cardShimmer{
    width: 260px;
    height: 142px;
    border-radius: 14px;
    background-color: rgb(202, 202, 202);
}

.descShimmer{
    background-color: rgb(202, 202, 202);
    width:200px;
    height: 16px;
    margin: 10px 15px;
}
.card{
    width: 260px;
    margin:10px 20px;
    padding: 10px 10px;
    padding-bottom: 0px;
    border: 1px solid black;
    /* background-color: rgb(44, 37, 37); */
}
.card img{
    object-fit: cover;
    width: 260px;
    height: 142px;
    overflow: hidden;
    border-radius: 14px;
}
.restaurantList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurantMenu{
    height: 120px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(85, 85, 85);
    width: 70vw;
    align-items: center;
    margin: 20px auto;
}

.restaurantMenu img{
    height: 100px;
    width: 150px;
    object-fit:cover;
}
